<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BFGlobalService">
                    <security mode="Transport" />
                </binding>
                <binding name="BFExchangeService" maxReceivedMessageSize="20000000">
                    <security mode="Transport" />
                </binding>
                <binding name="BFGlobalService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.betfair.com/exchange/v5/BFExchangeService"
                binding="basicHttpBinding" bindingConfiguration="BFExchangeService"
                contract="BFExchange.BFExchangeService" name="BFExchangeServiceUK" />
            <endpoint address="https://api-au.betfair.com/exchange/v5/BFExchangeService.wsdl"
                binding="basicHttpBinding" bindingConfiguration="BFExchangeService"
                contract="BFExchange.BFExchangeService" name="BFExchangeServiceAus" />
            <endpoint address="https://api.betfair.com/global/v3/BFGlobalService"
                binding="basicHttpBinding" bindingConfiguration="BFGlobalService"
                contract="BFGlobal.BFGlobalService" name="BFGlobalService" />
        </client>
    </system.serviceModel>
</configuration>